.text_intro h1 {
  font-size: 3rem;
}

.text_intro p {
  font-size: 1.5rem;
}

.featured_publishers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2.5rem;
  padding: 2.5rem 0;
}

.featured_publishers .publisher {
  background-image: url('../../../assets/images/each-campus-image-processed.jpg');
  background-position: center top;
  background-origin: content-box;
  background-size: cover;
  background-attachment: fixed;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.3);
}

.featured_publishers .publisher:before {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
}

.featured_publishers .publisher a {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15% 1rem;

  position: relative;
  z-index: 2;

  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 3rem;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .featured_publishers {
    grid-template-columns: repeat(3, 1fr);
  }
}
